

div {
  display: block;
  width: 310px;
  margin: 0 auto;
  border: 4px double red;
}

img {
  width: 300px;
  display: block;
  margin: 0 auto;
  padding-top: 3px;
  border-radius: 90%;
  border: 0.25px solid black;


}

ol::before {
  font-weight: bold;
}
