table {
  background-color: red;
  padding: 5px;
}

th {
  box-shadow: 1px 1px 1px black;  
}

tr:nth-child(odd) {
  background-color: aqua;
}

tr:first-child {
  background-color: green;
  font-size: 1.5rem;
  border-bottom: 2px dashed black;
}

td {
  border-right: 2px solid green;
}

td:last-child {
  border: none;
}
